@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
	padding: 0;
	margin: 0;
	text-align: center;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: 'Ubuntu', sans-serif;
	background-color: #E1E1E1;
	transition: all .3s ease-in-out 0s;
}

/*#begin-screen{
	transition: all .3s ease-in-out 0s;
	opacity: 1;
	visibility: visible;
}

#logo{
	height: 200px;
	width: auto;
	margin-top: 20vh;
}

#welcome{
	font-size: 35px;
}

#enter{
	cursor: pointer;
	margin-left: 45%;
	margin-right: 45%;
	margin-top: 20px;
	padding: 5px 10px;
	color: whitesmoke;
	background-color: #0f5da3;
	border: solid 2px #ee2829;
	border-radius: 10px;
}
*/

#head{
	transition: all .3s ease-in-out 0s;
}

header{
	z-index: 3;
	transition: all .3s ease-in-out 0s;
	top: 0;
	position: fixed;
	width: 100%;
	height: 15vh;
	background-color: white;
	visibility: visible;
	opacity: 1;
}

header #logo2{
	width: 220px;
	background-color: white;
	position: absolute;
	left: 15px;
	top: 3vh;
	cursor: pointer;
	transition: all .3s ease-in-out 0s;
}

header ul{
	display: flex;
	justify-content: center;
	font-size: 15px;
	line-height: 8vh;
}

header ul li{
	padding: 0 5px;
}

header ul li a{
	transition: all .1s ease-in-out 0s;
	cursor: pointer;
}

header ul li a:hover{
	border-bottom: solid 2px #ee2829;
}

#header2{
	z-index: 2;
	transition: all .3s ease-in-out 0s;
	position: fixed;
	top: 15vh;
	width: 100%;
	height: 8vh;
	background-color: white;
	border-bottom: double 5px #0f5da3;
	border-top: solid 1.5px #ee2829;
	visibility: visible;
	opacity: 1;
}

#header2 ul{
	display: flex;
	justify-content: center;
	line-height: 8vh;
	font-size: 20px;
}

#header2 ul li{
	padding: 0 20px;
	
}

#header2 ul li a{
	cursor: pointer;
}

#neth{
	right: 10px;
}

#brit{
	right: 42px;
}

.language{
	top: 2vh;
	width: 30px;
	heigth: auto;
	position: absolute;
	cursor: pointer;
	transition: all .05s ease-in-out 0s;
	border-radius: 100px;
}

.language:active{
	box-shadow: 0 0 0 2px #0f5da3;
}

.hover-menu{
	position: absolute;
	transition: all .3s ease-in-out 0s;
	background-color: white;
	border-bottom: solid 2px #0f5da3;
	border-right: solid 2px #0f5da3;
	border-left: solid 2px #0f5da3;
	margin-top: 1.5px;
}

.hover-menu li{
	font-size: 15px;
	transition: all .05s linear 0s;
}

.hover-menu li:hover{
	background-color: #8A8A8A;
}

#header2 ul li #news{
	visibility: hidden;
	opacity: 0;
	margin-left: -43px;
	line-height: 0px;
}

#header2 ul li #services{
	visibility: hidden;
	display: block;
	opacity: 0;
	margin-left: -94px;
	line-height: 0px;
}

#header2 ul li #products{
	visibility: hidden;
	display: block;
	opacity: 0;
	margin-left: -86px;
	line-height: 0px;
}

#header2 ul li #projects{
	visibility: hidden;
	display: block;
	opacity: 0;
	margin-left: -102px;
	line-height: 0px;
}

#headliner{
	padding: 20px;
	border: solid 3px #0f5da3;
	border-radius: 0 20px 20px 0;
	transition: all .3s ease-in-out 0s;
	visibility: visible;
	position: absolute;
	display: flex;
	top: 30vh;
	width: 70%;
	left: 15%;
	right: 15%;
	opacity: 1;
	background-color: white;
}

#picture{
	transition: all .1s ease-in-out 0s;
}

#pictext{ 
	margin-left: 10px;
}

#pictext h1{
	font-size: 13px;
	transition: all .1s ease-in-out 0s;
}

#pictext p{
	margin-top: 10px;
	text-align: left;
	font-size: 14px;
	line-height: 20px;
	transition: all .1s ease-in-out 0s;
}

#pictext #page{
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 20px;
	transition: all .1s ease-in-out 0s;
}

#minus{
	z-index: 1;
	position: absolute;
	height: 30px;
	width: 30px;
	font-size: 30px;
	top: 455px;
	left: 173px;
	color: #0f5da3;
	border: solid 2px #0f5da3;
	border-radius: 100px;
	cursor: pointer;
	transition: all .05s ease-in-out 0s;
	background-color: white;
}

#minus:active{
	border: solid 2px #ee2829;
}

#plus{
	z-index: 1;
	margin-left: 5px;
	position: absolute;
	height: 30px;
	width: 30px;
	right: 128px;
	top: 220px;
	font-size: 30px;
	bottom: 40px;
	color: #ee2829;
	border: solid 2px #0f5da3;
	border-radius: 100px;
	cursor: pointer;
	transition: all .05s ease-in-out 0s;
	background-color: white;
}

#plus:active{
	border: solid 2px #ee2829;
}

#powerbutton1, #powerbutton2{
	position: fixed;
	padding: 5px;
	height: 4vh;
	width: 4vh;
	box-shadow: 0 0 0 2px #0f5da3;
	color: black;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 10px;
	transition: all .1s ease-in-out 0s;
	background-color: white;
}

#powerbutton1{
	box-shadow: 0 0 0 2px #ee2829;
	top: 55%;
}

#powerbutton2{
	box-shadow: 0 0 0 2px #0f5da3;
	top: 47%;
}

#powerbutton1:hover{
	box-shadow: 0 0 2px 2px #6d1414;
}

#powerbutton2:hover{
	box-shadow: 0 0 2px 2px #479FEE;
}

main{
	user-select: text;
	margin: 25vh 15% 5vh 15%;;
	width: 70%;
}

#welcome{
	position: relative;
	top: 310px;
	padding: 100px 0;
}

main h2{
	position: relative;
	padding-bottom: 100px;
	top: 230px;
	font-weight: 200;
	font-size: 3.5vh;
}

main ol{
	position: relative;
	padding-bottom: 100px;
	top: 160px;
}

main ol li{
	text-align: left;
}

main hr{
	position: relative;
	top: 90px;
}

main ul{
	position: relative;
	padding-bottom: 100px;
	top: 60px;
}

main ul li{
	text-align: left;
}

main h3{
	position: relative;
	padding-bottom: 100px;
	top: 120px;
	font-size: 4vh;
}

main ul .date{
	font-style: italic;
	font-weight: lighter;
}

main ul .title{
	font-weight: bold;
	margin-bottom: 10px;
}

main ul .text{
}

main ul .readmore{
	margin-bottom: 20px;
}

footer{
	bottom: 0;
	position: fixed;
	width: 100%;
	height: 8vh;
	background-color: #0f5da3;
	color: #D3CDCD;
	font-size: 3vh;
	transition: all .3s ease-in-out 0s;
}

footer p a{
	text-decoration: none;
	list-style: none;
	line-height: 8vh;
	font-style: normal;
	color: #D3CDCD;
	font-family: 'Dosis', sans-serif;
	transition: all .2s ease-in-out 0s;
}

footer p a:hover{
	color: #FCFBFB;
}

#invisible{
	display: none;
}
